flows (2).json
[{"id":"19b5985f.99a608","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc63f9ee.0f9c58","type":"function","z":"19b5985f.99a608","name":"pre token","func":"//make user given values as global variables\n\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"ttYywVE_uGMDjFga2hVk0dJs4Mt7AV-sLTgW0wHjhguB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["f745449b.245c38"]]},{"id":"43540931.df9388","type":"http request","z":"19b5985f.99a608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b9915bb3-adcc-4c30-82c7-7d646f6f7ef8/deployments/a09df831-fcb7-4852-93e1-dae26d6d2533/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["d831f4bd.7747f8","7410838c.10a55c"]]},{"id":"7410838c.10a55c","type":"function","z":"19b5985f.99a608","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["a7a0ae64.919a5","fe1c21a.93555e"]]},{"id":"d831f4bd.7747f8","type":"debug","z":"19b5985f.99a608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":182,"wires":[]},{"id":"62f93d9e.4d3fd4","type":"function","z":"19b5985f.99a608","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"b9915bb3-adcc-4c30-82c7-7d646f6f7ef8\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\n\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\n\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":\n['Adult Mortality',\n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',\n       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',\n       ' thinness  1-19 years', ' thinness 5-9 years',\n       'Income composition of resources', 'Schooling'],\n\"values\":[[c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["43540931.df9388"]]},{"id":"f745449b.245c38","type":"http request","z":"19b5985f.99a608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["62f93d9e.4d3fd4"]]},{"id":"a7a0ae64.919a5","type":"ui_text","z":"19b5985f.99a608","group":"6f836f92.4a58","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"27a6eeca.a5bd92","type":"ui_form","z":"19b5985f.99a608","name":"","label":"","group":"6f836f92.4a58","order":1,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Dipitheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 1-19 Years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 Years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["fc63f9ee.0f9c58"]]},{"id":"fe1c21a.93555e","type":"debug","z":"19b5985f.99a608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":700,"y":260,"wires":[]},{"id":"6f836f92.4a58","type":"ui_group","z":"","name":"Machine Learning Model","tab":"2cc312b6.bef9de","order":1,"disp":true,"width":"6","collapse":false},{"id":"2cc312b6.bef9de","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","order":1,"disabled":false,"hidden":false}]